<h4 class="text-dark bg-light text-center py-3">フォロワーリスト</h4>
  <% if @users.exists? %>
    <% @users.each do |user| %>
    <div class="d-flex flex-row">
		  <%= render 'users/info', user: user %>
		</div>
		<% end %>
  <% else %>
    <p>フォロワーはいません</p>
  <% end %>
