<div class="container">
  <h4 class="text-center py-3">フォロワーリスト</h4>
    <div class="row mb-3">
      <% if @users.exists? %>
        <% @users.each do |user| %>
          <div class="col-md-3">
      		  <%= render 'users/info', user: user %>
      		</div>
      		<% end %>
      <% else %>
        <p>フォロワーはいません</p>
      <% end %>
    </div>
  <%= paginate @users, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>
