<div class="container">
  <h4 class="text-center">
    <% if @user == current_user %>
      マイページ
    <% else %>
      <%= @user.name %>さんのページ
    <% end %>
  </h4>
  <div class="d-flex">
    <div class="left-box">
      <%= render "info", user: @user %>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
      <%= render "posts/index", posts: @posts %>
    </div>
  </div>
</div>