<div class="container">
  <h4 class="text-center">
    <% if @user == current_user %>
      マイページ
    <% else %>
      <%= @user.name %>さんのページ
    <% end %>
  </h4>
  <div class="d-flex">
    <div class="left-box">
      <%= render "info", user: @user %>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
      <% @posts.each do |post| %>
        <%= render "posts/index", post: post %>
      <% end %>
    <script>
      $('.post-evaluation').raty({
        readOnly: true,
        score: function() {
          return $(this).attr('data-score');
        },
        path: '/assets/'
      });
    </script>
    </div>
  </div>
</div>