 <div class="container-fluid top-bg">
   <div class="row">
     <div class="col-12 shadow top-box">
        <h1 class="top-title"><strong>ようこそ、Climberへ！</strong></h1>
     </div>
   </div>
 </div>
 <div class="col my-3 text-center">
  <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-secondary' %>
  <%= link_to "ログイン", new_user_session_path, class: 'btn btn-secondary' %>
  <%= link_to "ゲストログイン", users_guest_path, method: :post, class: 'btn btn-warning text-light' %>
 </div>
 <div class="container">
   <div class="row">
     <div class="col-md- col-sm-10 mx-auto text-center shadow rounded pb-2 px-0 my-5">
       <h4 class="py-3">このサイトについて</h4>
       <p>
         自分が使用している登山用品を投稿して紹介し合うSNSのサイトです。<br>
         「登山靴」を買いたいけど、どんなのがいいかしら？」<br>
         「あの商品気になってるけど使い勝手はどうだろう？」<br>
         そんなときにこのサイトを活用ください！<br>
       </p>
     </div>
   </div>
 </div>
