<div class="container">
  <h4 class="text-center">ブックマーク登録リスト</h4>
    <div class="row">
      <% if @bookmark_list.present? %>
        <% @bookmark_list.each do |post| %>
          <%= render "posts/index", post: post %>
        <% end %>
      <% else %>
        <h5>お気に入り登録しているリストはありません。</h5>
      <% end %>
      <script>
        $('.post-evaluation').raty({
          readOnly: true,
          score: function() {
            return $(this).attr('data-score');
          },
          path: '/assets/'
        });
      </script>
    </div>
    <div class="back my-2 text-center">
      <small>
        <%= link_to :back do %>
          <i class="fas fa-undo"></i>戻る
        <% end %>
      </small>
    </div>
</div>
