<div class="container">
  <h4><strong><%= "”#{@tag.tag_name}”" %></strong>に関する投稿</h4>
  <div class="row row-cols-1 row-cols-md-3">
    <% @posts.each do |post| %>
      <%= render "index", post: post %>
    <% end %>
    <script>
      $('.post-evaluation').raty({
        readOnly: true,
        score: function() {
          return $(this).attr('data-score');
        },
        path: '/assets/'
      });
    </script>
  </div>
  <%= paginate @posts, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"%>
</div>
