/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

// ページ全体 -----------
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
  font-family: "Hannotate SC", "ヒラギノ丸ゴ ProN", "sans-serif";
 }
 
 h4{
  text-align: center;
  width: 50%;
  margin: 20px auto;
  line-height: 1;
  background: #F5E6CA;
  box-shadow: 0px 0px 0px 5px #F5E6CA;
  border: dashed 1px #D8B384;
  padding: 0.2em 0.5em;
  color: #5E454B;
   strong {
    color: #5E454B;
   }
 } 
 
 .pagination {
  justify-content: center;
 }
 
 #error_explanation {
  color:#262626;
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:850;
   ul {
    list-style: none;
   }
 }
 
 .alert-notice{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
 }
 
 .alert-alert{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
 }
 
 .alert-danger {
   ul {
    list-style: none;
   }
 }
 
 .back{
  a{
   color: #6c6b6b;
  }
  a:hover{
   color: #000;
   transition: 0.5s;
  }
 }
 
 // ヘッダー -----
 header {
  background-color: #FFF;
 }
 

 .page-link {
  background-color: #D9D4CF;
  color: #7C7877;
 }

 .page-item.active .page-link {
  background-color: #ABD0CE;
  border-color: #ABD0CE;
 }
 
 // TOPページ　-----

 .top-bg {
  height: 40vh;
  background-image: image-url("top4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
 }

 .top-box {
  position: absolute;
  width: 100%;
  height: 40vh;
  background: rgba(200, 200, 200, 0.5);
 }

 .top-title {
  text-align: center;
  letter-spacing: 4px;
  padding: 160px 0 60px 0;
 }


// 投稿詳細ページ -----
.edit-btn {
 color: #84B1ED;
}

.destroy-btn {
 color: #6E7783;
}

.post-detail {
 a {
  color: #6c6b6b;
 }
}

.post-image {
 background-color: rgba(240,236,226,0.2);
 border-left: double 6px #C7B198;
 border-right: double 6px #C7B198;
}

.comment-box {
 h6 {
  width: 30%;
  border-bottom: solid 2px #D8B384;
  font-size: 14px;
  text-align: center;
 }
}

.post_user {
 width: 15%;
 height: 30%;
 border-bottom: solid 2px #D8B384;
 font-size: 14px;
 text-align: center;
}

// タグ検索 -----

.tag-search{
 line-height: 1;
 border: 1px solid #7C7877;
 color: #7C7877;
 display: inline-block;
 font-size: 15px;
 background-color: #D9D4CF;
 font-weight: 700;
 font-family: "Hannotate SC";
}

.tag-search:hover{
  background-color: #ABD0CE;
  color: #fff;
  opacity: 0.6;
  transition: 0.5;
}

// フッター　-----

footer {
 background-color: #6B7B8E;
  p {
   color: #F9F8EB;
  }
  i {
   color: #F9F8EB;
  }
}
